In [1]:
from tab_dataset import Sdataset

chemin = 'D:/philippe/python ESstandard/Environmental-Sensing/python/validation/cours/'
file    = chemin + 'example cours light.csv'

dts = Sdataset.from_csv(file, optcsv={'delimiter': ';'})
print(dts)

variables :
    {'first name': ['Anne', 'Anne', 'Anne', 'Anne', 'Anne', 'Philippe', 'Philippe', 'Camille', 'Camille', 'Camille', 'Camille', 'Philippe', 'Philippe']}
    {'last name': ['White', 'White', 'White', 'White', 'White', 'White', 'White', 'Red', 'Red', 'Red', 'Red', 'Black', 'Black']}
    {'full name': ['Anne White', 'Anne White', 'Anne White', 'Anne White', 'Anne White', 'Philippe White', 'Philippe White', 'Camille Red', 'Camille Red', 'Camille Red', 'Camille Red', 'Philippe Black', 'Philippe Black']}
    {'surname': ['skyler', 'skyler', 'skyler', 'skyler', 'skyler', 'heisenberg', 'heisenberg', 'saul', 'saul', 'saul', 'saul', 'gus', 'gus']}
    {'group': ['gr1', 'gr1', 'gr1', 'gr1', 'gr1', 'gr2', 'gr2', 'gr3', 'gr3', 'gr3', 'gr3', 'gr3', 'gr3']}
    {'course': ['math', 'math', 'math', 'english', 'english', 'math', 'english', 'software', 'software', 'english', 'english', 'software', 'english']}
    {'examen': ['t1', 't2', 't3', 't2', 't3', 't1', 't2', 't3', 't2', 't1', 't2', 't3', 't1']}
    {'score': [11, 13, 15, 10, 12, 15, 8, 17, 18, 2, 4, 18, 6]}
index :
    {'year': [2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021]}

In [2]:
dts.analysis.category

['derived',
 'derived',
 'mixed',
 'coupled',
 'derived',
 'derived',
 'unique',
 'derived',
 'mixed']

In [3]:
print(dts.tree())

-1: root-derived (13)
   2 : full name (9 - 4)
      3 : surname (0 - 4)
      0 : first name (1 - 3)
      1 : last name (1 - 3)
      4 : group (1 - 3)
   6 : year (12 - 1)
   7 : examen (10 - 3)
   8 : score (2 - 11)
      5 : course (8 - 3)

In [4]:
print(dts.tree('distomin'))

-1: root-distomin (13)
   6 : year (0 - 1)
   8 : score (0 - 11)
      2 : full name (2 - 4)
         0 : first name (0 - 3)
         1 : last name (0 - 3)
         3 : surname (0 - 4)
         4 : group (0 - 3)
      5 : course (0 - 3)
      7 : examen (2 - 3)

In [5]:
print(dts.tree('distance'))

-1: root-distance (13)
   2 : full name (9 - 4)
      0 : first name (1 - 3)
      1 : last name (1 - 3)
         5 : course (3 - 3)
         7 : examen (5 - 3)
      3 : surname (0 - 4)
      4 : group (1 - 3)
   6 : year (12 - 1)
   8 : score (2 - 11)

In [9]:
print(dts.analysis.get_relation('course', 'examen').distomax, dts.analysis.get_relation('course', 'examen').ratecpl)
print(dts.analysis.get_relation('full name', 'examen').distomax, dts.analysis.get_relation('full name', 'examen').ratecpl)
print(dts.analysis.get_relation('course', 'full name').distomax, dts.analysis.get_relation('course', 'full name').ratecpl)
print(dts.analysis.get_relation('score', 'root').distance, dts.analysis.get_relation('score', 'root').ratecpl)

1 0.8333333333333334
2 0.7777777777777778
4 0.5555555555555556
2 0.015151515151515152

In [10]:
dts_full = dts.full(idxname=['course', 'examen', 'full name'])

In [12]:
dts.analysis.partitions(mode='id')

[['course', 'examen', 'full name']]

In [14]:
dts.field_partition(mode='id')

{'primary': ['full name', 'course', 'examen'],
 'secondary': ['first name', 'last name', 'group', 'surname'],
 'unique': ['year'],
 'variable': ['score']}

In [15]:
dts.analysis.category

['mixed',
 'derived',
 'derived',
 'derived',
 'derived',
 'derived',
 'coupled',
 'derived',
 'unique']

In [16]:
print(dts.tree())

-1: root-derived (36)
   0 : full name (32 - 4)
      6 : surname (0 - 4)
      3 : first name (1 - 3)
      4 : last name (1 - 3)
      5 : group (1 - 3)
   1 : course (33 - 3)
   2 : examen (33 - 3)
   7 : score (24 - 12)
   8 : year (35 - 1)

In [18]:
print(dts.to_xarray())

<xarray.DataArray 'score' (full name: 4, course: 3, examen: 3)>
array([[[11, 13, 15],
        ['-', 10, 12],
        ['-', '-', '-']],

       [[15, '-', '-'],
        ['-', 8, '-'],
        ['-', '-', '-']],

       [['-', '-', '-'],
        [2, 4, '-'],
        ['-', 18, 17]],

       [['-', '-', '-'],
        [6, '-', '-'],
        ['-', '-', 18]]], dtype=object)
Coordinates:
  * full name   (full name) object 'Anne White' ... 'Philippe Black'
  * course      (course) object 'math' 'english' 'software'
  * examen      (examen) object 't1' 't2' 't3'
    first name  (full name) object 'Anne' 'Philippe' 'Camille' 'Philippe'
    last name   (full name) object 'White' 'White' 'Red' 'Black'
    group       (full name) object 'gr1' 'gr2' 'gr3' 'gr3'
    surname     (full name) object 'skyler' 'heisenberg' 'saul' 'gus'
Attributes:
    year:     2021