# Tests Numpy

## Format JSON

In [1]:
import numpy as np
from pprint import pprint
from numpy_ntv_connector import read_json, to_json, NdarrayConnec, to_json_tab, read_json_tab
import ntv_pandas as npd
from json_ntv import Ntv

a = np.arange(1,25).reshape((2,3,2,2))

### Simple Ndarray (type 'ndarray')

In [2]:
print("example  :\n")
pprint(to_json(a), width=150)

print("\nreversibility :\n")
a2 = read_json(to_json(a))
print(np.array_equal(a2, a))

example  :

{':ndarray': [[[[[1, 2], [3, 4]], [[5, 6], [7, 8]], [[9, 10], [11, 12]]], [[[13, 14], [15, 16]], [[17, 18], [19, 20]], [[21, 22], [23, 24]]]],
              'int32']}

reversibility :

True

### Axed Ndarray (type 'xndarray')

In [3]:
axes = {'x': ['x1', 'x2'], 
        'y': ['y1', 'y2', 'y3'], 
        'z': ['z1', 'z2'], 
        'option': [True, False]}

print("\nexample with axes :\n")
pprint(to_json(a, axes=axes), width=150)

print("\nreversibility :\n")
a2, axes2 = read_json(to_json(a, axes=axes))
print(np.array_equal(a2, a), axes2 == axes)

example with axes :

{':ndarray': {'data': [[[[[1, 2], [3, 4]], [[5, 6], [7, 8]], [[9, 10], [11, 12]]],
                        [[[13, 14], [15, 16]], [[17, 18], [19, 20]], [[21, 22], [23, 24]]]],
                       'int32'],
              'xnames': ['x', 'y', 'z', 'option'],
              'xvalues': [['x1', 'x2'], ['y1', 'y2', 'y3'], ['z1', 'z2'], [True, False]]}}

reversibility :

True True

### Tabular format

In [4]:
print("example with tabular format :\n")
pprint(to_json_tab(a, axes), width=150)

print("\nreversibility :\n")
a2, axes2 = rea_json_tab(to_json_tab(a, axes))
print(np.array_equal(a2, a), axes2 == axes)

example with tabular format :

{'option': [[True, False], [1]],
 'value::int32': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
 'x': [['x1', 'x2'], [12]],
 'y': [['y1', 'y2', 'y3'], [4]],
 'z': [['z1', 'z2'], [2]]}

reversibility :

True True

### Tabular format is compatible with tabular tools (e.g. Pandas).

In [5]:
print('pandas DataFrame :')
df = npd.read_json(to_json_tab(a, axes))
display(df)

print("\nreversibility :\n")
a3, axes3 = from_json_tab(df.npd.to_json(header=False, index=False))
print(np.array_equal(a3, a), axes3 == axes)

pandas DataFrame :

     x   y   z option  value
0   x1  y1  z1   True      1
1   x1  y1  z1  False      2
2   x1  y1  z2   True      3
3   x1  y1  z2  False      4
4   x1  y2  z1   True      5
5   x1  y2  z1  False      6
6   x1  y2  z2   True      7
7   x1  y2  z2  False      8
8   x1  y3  z1   True      9
9   x1  y3  z1  False     10
10  x1  y3  z2   True     11
11  x1  y3  z2  False     12
12  x2  y1  z1   True     13
13  x2  y1  z1  False     14
14  x2  y1  z2   True     15
15  x2  y1  z2  False     16
16  x2  y2  z1   True     17
17  x2  y2  z1  False     18
18  x2  y2  z2   True     19
19  x2  y2  z2  False     20
20  x2  y3  z1   True     21
21  x2  y3  z1  False     22
22  x2  y3  z2   True     23
23  x2  y3  z2  False     24

reversibility :

True True

### Using in NTV data

In [6]:
nd = np.array([1,2,3,4,5,6]).reshape(3,2)

# simple
simple = Ntv.obj({'test:ndarray':nd})
print(simple)

{"test:ndarray": [[[1, 2], [3, 4], [5, 6]], "int32"]}