In [8]:
import pandas as pd
import datetime
from json_ntv import Ntv
option = {'encode_format': 'obj', 'dicobj': {'field': 'SeriesConnec', 'tab': 'DataFrameConnec'}}

In [5]:
df = pd.DataFrame({'dates': [datetime.date(2021,10,5), datetime.date(2021,10,5)], 'val': [10,20]})
print(df)
print(df.iloc[0,0])
print(df.to_json(orient='table'))
print(df.dtypes)
print(df.to_json(orient='records'))
df2 = pd.read_json(df.to_json(orient='records'), orient='records')
print(df2)
print(df2.dtypes)

        dates  val
0  2021-10-05   10
1  2021-10-05   20
2021-10-05
{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"dates","type":"string"},{"name":"val","type":"integer"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":0,"dates":"2021-10-05T00:00:00.000","val":10},{"index":1,"dates":"2021-10-05T00:00:00.000","val":20}]}
dates    object
val       int64
dtype: object
[{"dates":1633392000000,"val":10},{"dates":1633392000000,"val":20}]
           dates  val
0  1633392000000   10
1  1633392000000   20
dates    int64
val      int64
dtype: object

In [12]:
tab_data = {'index':           [100, 200, 300, 400, 500, 600],
            'dates':           [{'::date': ['1964-01-01', '1985-02-05', '2022-01-21']}, [0, 1, 2, 0, 1, 2]],
            'value':           [[10, 20, {'valid?': 30}], [0, 0, 1, 1, 2, 2]],
            'value32::int32':  [12, 12, 22, 22, 32, 32],
            'res':             {'res1': 10, 'res2': 20, 'res3': 30, 'res4': 10, 'res5': 20, 'res6': 30},
            'names::string':   ['john', 'eric', 'judith', 'mila', 'hector', 'maria'],
            'unique:boolean':  True }
tab = Ntv.obj({':tab'  : tab_data})
df = tab.to_obj(**option)
print(df)
print(df.to_json(orient='table'))
print(len(df.to_json(orient='table')))
print(df.dtypes)
print(Ntv.obj(df).to_obj(encoded=True))
print(len(Ntv.obj(df).to_obj(encoded=True)))
df2 = pd.read_json(df.to_json(orient='table'), orient='table')
print(df2)
print(df2.dtypes)

    dates::date value  value32  res   names  unique
100  1964-01-01    10       12   10    john    True
200  1985-02-05    10       12   20    eric    True
300  2022-01-21    20       22   30  judith    True
400  1964-01-01    20       22   10    mila    True
500  1985-02-05    30       32   20  hector    True
600  2022-01-21    30       32   30   maria    True
{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"dates::date","type":"any","constraints":{"enum":["1964-01-01T00:00:00.000","1985-02-05T00:00:00.000","2022-01-21T00:00:00.000"]},"ordered":false},{"name":"value","type":"any","constraints":{"enum":[10,20,30]},"ordered":false},{"name":"value32","type":"integer"},{"name":"res","type":"integer"},{"name":"names","type":"any","extDtype":"string"},{"name":"unique","type":"boolean"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":100,"dates::date":"1964-01-01T00:00:00.000","value":10,"value32":12,"res":10,"names":"john","unique":true},{"index":200,"dates::date":"1985-02-05T00:00:00.000","value":10,"value32":12,"res":20,"names":"eric","unique":true},{"index":300,"dates::date":"2022-01-21T00:00:00.000","value":20,"value32":22,"res":30,"names":"judith","unique":true},{"index":400,"dates::date":"1964-01-01T00:00:00.000","value":20,"value32":22,"res":10,"names":"mila","unique":true},{"index":500,"dates::date":"1985-02-05T00:00:00.000","value":30,"value32":32,"res":20,"names":"hector","unique":true},{"index":600,"dates::date":"2022-01-21T00:00:00.000","value":30,"value32":32,"res":30,"names":"maria","unique":true}]}
1203
dates::date    category
value          category
value32           int32
res               int64
names            string
unique             bool
dtype: object
{":tab": {"index": [100, 200, 300, 400, 500, 600], "dates": [{"::date": ["1964-01-01", "1985-02-05", "2022-01-21"]}, [0, 1, 2, 0, 1, 2]], "value": [[10, 20, 30], [0, 0, 1, 1, 2, 2]], "value32::int32": [12, 12, 22, 22, 32, 32], "res": [10, 20, 30, 10, 20, 30], "names::string": ["john", "eric", "judith", "mila", "hector", "maria"], "unique": [true, true, true, true, true, true]}}
380
                 dates::date value  value32  res   names  unique
100  1964-01-01T00:00:00.000    10       12   10    john    True
200  1985-02-05T00:00:00.000    10       12   20    eric    True
300  2022-01-21T00:00:00.000    20       22   30  judith    True
400  1964-01-01T00:00:00.000    20       22   10    mila    True
500  1985-02-05T00:00:00.000    30       32   20  hector    True
600  2022-01-21T00:00:00.000    30       32   30   maria    True
dates::date    category
value          category
value32           int64
res               int64
names            string
unique             bool
dtype: object

In [13]:
tab_data = {'index':           [100, 200, 300, 400, 500, 600],
            'dates::date':     ['1964-01-01', '1985-02-05', '2022-01-21', '1964-01-01', '1985-02-05', '2022-01-21'], 
            'value':           [10, 10, 20, 20, 30, 30],
            'value32::int32':  [12, 12, 22, 22, 32, 32],
            'res':             [10, 20, 30, 10, 20, 30],
            'names::string':   ['john', 'eric', 'judith', 'mila', 'hector', 'maria'],
            'unique':          True }
tab = Ntv.obj({':tab'  : tab_data})
df = tab.to_obj(**option)
print(df)
print(df.to_json(orient='table'))
print(len(df.to_json(orient='table')))
print(df.dtypes)
print(Ntv.obj(df).to_obj(encoded=True))
print(len(Ntv.obj(df).to_obj(encoded=True)))
df2 = pd.read_json(df.to_json(orient='table'), orient='table')
print(df2)
print(df2.dtypes)

    dates::date  value  value32  res   names  unique
100  1964-01-01     10       12   10    john    True
200  1985-02-05     10       12   20    eric    True
300  2022-01-21     20       22   30  judith    True
400  1964-01-01     20       22   10    mila    True
500  1985-02-05     30       32   20  hector    True
600  2022-01-21     30       32   30   maria    True
{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"dates::date","type":"string"},{"name":"value","type":"integer"},{"name":"value32","type":"integer"},{"name":"res","type":"integer"},{"name":"names","type":"any","extDtype":"string"},{"name":"unique","type":"boolean"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":100,"dates::date":"1964-01-01T00:00:00.000","value":10,"value32":12,"res":10,"names":"john","unique":true},{"index":200,"dates::date":"1985-02-05T00:00:00.000","value":10,"value32":12,"res":20,"names":"eric","unique":true},{"index":300,"dates::date":"2022-01-21T00:00:00.000","value":20,"value32":22,"res":30,"names":"judith","unique":true},{"index":400,"dates::date":"1964-01-01T00:00:00.000","value":20,"value32":22,"res":10,"names":"mila","unique":true},{"index":500,"dates::date":"1985-02-05T00:00:00.000","value":30,"value32":32,"res":20,"names":"hector","unique":true},{"index":600,"dates::date":"2022-01-21T00:00:00.000","value":30,"value32":32,"res":30,"names":"maria","unique":true}]}
1041
dates::date    object
value           int64
value32         int32
res             int64
names          string
unique           bool
dtype: object
{":tab": {"index": [100, 200, 300, 400, 500, 600], "dates::date": ["1964-01-01", "1985-02-05", "2022-01-21", "1964-01-01", "1985-02-05", "2022-01-21"], "value": [10, 10, 20, 20, 30, 30], "value32::int32": [12, 12, 22, 22, 32, 32], "res": [10, 20, 30, 10, 20, 30], "names::string": ["john", "eric", "judith", "mila", "hector", "maria"], "unique": [true, true, true, true, true, true]}}
384
                 dates::date  value  value32  res   names  unique
100  1964-01-01T00:00:00.000     10       12   10    john    True
200  1985-02-05T00:00:00.000     10       12   20    eric    True
300  2022-01-21T00:00:00.000     20       22   30  judith    True
400  1964-01-01T00:00:00.000     20       22   10    mila    True
500  1985-02-05T00:00:00.000     30       32   20  hector    True
600  2022-01-21T00:00:00.000     30       32   30   maria    True
dates::date    object
value           int64
value32         int64
res             int64
names          string
unique           bool
dtype: object